:root {
    --violet: hsl(257, 40%, 49%);
    --SoftMagenta: hsl(300, 69%, 71%);
}

body {
    display: grid;
    grid: 180px 1fr 10px / 3% 50% 36% auto;
    column-gap: 5px;
    background-color: var(--violet);
    background-image: url(./images/bg-desktop.svg); 
    background-repeat: no-repeat;
}

header {
    height: 150px;
    grid-column: 2 / 5;
    grid-row-start: 1;
    padding: 10px;
}


.foto {
    width: 95%;
    height: 100%;
    grid-row: 2 / 3;
    grid-column: 2 / 3;

}

.text {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
}

.text h1{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2.7em;
}

.text p {
    color: white;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 19px;
}

.text button {
    display: inline;
    background-color: white;
    border: 1px solid white;
    border-radius: 50px;
    color: var(--violet);
    padding: 15px 50px;
    box-shadow: 5px 5px 5px hsla(0, 0%, 0%, 0.326);
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
}

.text button:hover {
    border: 1px solid var(--SoftMagenta);
    background-color: var(--SoftMagenta);
    color: white;
}

footer {
    grid-row: 3 / 4;
    grid-column: span 4;
}
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }